/* ADD YOUR STYLES HERE */
th, td {
    text-align: left;
    padding: 10px 50px;
    border-bottom: .5px solid #ddd;
    border-top: .5px solid #ddd;
}

td{
    font-weight: 400;
    font-family: serif;
}

.bigBold {
    font-size: 30px;
    font-weight:900;
    font-family: Impact;
}

.dull{
    color: #9f9f9f;
    font-family:Tahoma;
}

.squishyT{
     text-align: center;
    padding: 10px 10px;
    border-bottom: .5px solid #ddd;
    border-top: .5px solid #ddd;
  
}

.chart{
    background-color: dodgerblue;
    border-radius: 0px 7px 7px 0px;
    text-align: left;
    color: #FFF;
    font-family: Impact;
    }

.barTable{
    border-bottom: hidden;
    border-top: hidden;
    text-align: left;
    width: 600px;
    padding: 1px 0;
  
}

.barTableHead{
    border-bottom: hidden;
    border-top: hidden;
    text-align: right;
    padding-right: 5px;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
}

.lightBack{
    background-color: #696969;
    padding: 80px;
}

.lightBox{
    background-color: #fff;
    padding: 20px;
    border-radius:10px;
}

.light-btn{
    text-decoration: none;
    background-color:#ee0f69;
    color:#FFF;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-weight: 900;
 
}

.btn-space{
    text-align: right;
}

.LFloat{
    float:left;
     margin-right: 1.5em;
}

.RFloat{
    overflow: hidden;
}