<!DOCTYPE html>
<html ng-app="Intro">

<head>
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="App.js"></script>
    <link rel="stylesheet" href="main.css" type="text/css" />
</head>

<body>

    <div ng-controller="MainController">
        <button ng-click="show = !show">
          <h1> Click Me First</h1>
        </button>

        <button ng-click="list = !list">
          <h1 > Click Me Second</h1>
        </button>

        <h1 ng-show="show"> Boom</h1>
        <ul ng-show="list" ng-controller="SecondController">
            <li ng-repeat="item in myList" >{{item}}</li>
        </ul>
    </div>

    </div>
    <div id="test1">
    </div>
</body>



</html>
