h1, h2, h3, h4, h5{
    color: #cc00cc;
    text-align: center;
    
}

body{
    background-color: yellow;
}

.boxed{
    border: 2px solid white;
    display: inline-block;
    
}

.container{
    text-align: center;
    clear: both;
}

.nav{
    height:20px;
    width:800px;
    background-color: blue;
    position:fixed;
    top:0;
}

.navTool{
    display: inline-block;
}
}
